body{
	background: url('https://images.alphacoders.com/102/1026347.jpg');
    background-position: static;
}
h1{
	text-align: center;
	font: Arial;
	font-size: 60px;
	text-shadow: 2px 2px 3px black;
}

h2{
	text-align: left;
	font: Arial;
	font-size: 30px;
	text-shadow: 2px 2px 3px black;
}

h3{
	text-align: left;
	font: Arial;
	font-size: 20px;
	text-shadow: 2px 2px 3px black;
}

p{
	font: Arial;
	text-align: left;
	font-size: 17px;
}